{% extends 'base.html' %}
{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <canvas id="myChart"></canvas>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in india_data %}"{{ item.Location }}",{% endfor %}],
                datasets: [{
                    label: 'Total Inspection Completed Works',
                    data: [{% for item in india_data %}{{ item.Total_Inspection_Completed_Works }},{% endfor %}],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                onClick: function (event, elements) {
                    if (elements.length > 0) {
                        var clickedLabel = myChart.data.labels[elements[0].index];
                        drillDown(clickedLabel);
                    }
                }
            }
        });

        
    </script>



{% endblock %}