{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

    <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
        <h1 class="text-2xl font-bold mb-6">Joint Inspection CNN</h1>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="image" class="block text-sm font-medium text-gray-600">Upload Image</label>
            <input type="file" name="image" id="image" accept="image/*"
                class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-300">

            <button type="submit"
                class="mt-4 bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                Submit
            </button>
        </form>

        {% if prediction %}
        <div class="mt-6">
            <h2 class="text-lg font-semibold mb-2">Prediction Result:</h2>
            <p class="text-gray-700">{{ prediction }}</p>
        </div>
        {% endif %}

    </div>

    {% else %}
        <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
            <p class="text-red-500">You must be authenticated to access this page.</p>
            <p class="mt-4">Purchase our subscription to continue.</p>
            <a href="/"><button class="mt-4 bg-green-500 text-white p-2 rounded-md hover:bg-green-600 focus:outline-none focus:ring focus:border-green-300">
                Buy Subscription
            </button></a>
        </div>
    {% endif %}

{% endblock %}