<script>
    var chart = document.querySelector('#chartline')
    var options = {
        series: [{
            name: 'Your Daily Task Performance',
            type: 'area',
            data: [ 4,3,2,6]
        }, {
            name: '',
            type: 'line',
            data: []
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        stroke: {
            curve: 'smooth'
        },
        fill: {
            type: 'solid',
            opacity: [0.35, 1],
        },
        labels: ['feature 1', 'feature 2 ', 'feature 3', 'feature 4'],
        markers: {
            size: 0
        },
        yaxis: [{
                title: {
                    text: 'Series A',
                },
            },
            {
                opposite: true,
                title: {
                    text: 'Series B',
                },
            },
        ],
        tooltip: {
            shared: true,
            intersect: false,
            y: {
                formatter: function(y) {
                    if (typeof y !== "undefined") {
                        return y.toFixed(0) + " points";
                    }
                    return y;
                }
            }
        }
    };
    var chart = new ApexCharts(chart, options);
    chart.render();
</script>
<script>
    var chart = document.querySelector('#chartpie')
    var options = {
        series: [44, 55, 67, 83],
        chart: {
            height: 350,
            type: 'pie',
        },
        plotOptions: {
            radialBar: {
                dataLabels: {
                    name: {
                        fontSize: '22px',
                    },
                    value: {
                        fontSize: '16px',
                    },
                    total: {
                        show: true,
                        label: 'Session',
                        formatter: function(w) {
                            // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                            return ""
                        }
                    }
                }
            }
        },
        labels: ['feature 1', 'feature 2', 'feature 3', 'feature 4'],
    };
    var chart = new ApexCharts(chart, options);
    chart.render();
</script>--