{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        

        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        img {
            max-width: 150px;
            margin-bottom: 20px;
        }

        h2 {
            color: #007bff;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="container">
        <div class="text-center">
            <img src="https://www.freeiconspng.com/thumbs/upload-documents-icon/orange-square-button-document-file-page-up-upload-icon-5.jpeg" alt="Upload Icon">
            <h2 class="mb-4">Upload the file in which you wanna find discrepancies </h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-bottom: 10px;">
                    <input type="file" name="csv_file" accept=".csv">
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <button type="submit" style="padding: 15px 20px; font-size: 16px; background-color: #3498db; color: #ffffff; border: none; border-radius: 5px; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                        Find Discrepancies
                    </button>
                </div>
                
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}